@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:ital,wght@0,400;0,700;1,300;1,800&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    
}
.App{
  
    background: #F5F7FB;  
}
h1{
    margin:0px;
}
.Start{
   display: flex;  
   flex-direction: column;  
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   color: #293264;
   background-image: url('./img/orange.webp');
   background-repeat: repeat-x;
 

}
.ka{
    font-family: Karla,Helvetica, sans-serif;
    font-weight: 800px;
    font-style: italic;
}
.in{
    font-family: Inter,Helvetica, sans-serif;;
    font-weight: 400px;
}
button{
    background: #4D5B9E;
    border-radius: 15px;
    width: 193px;
    height: 52px;
    color: #F5F7FB;

}
.Quis{
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    min-height: 100vh;   
}

.choseq{
    font-family: Karla,Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    
    
    

}
.ch{
    background-color: #F5F7FB;
    color: black;
    border: 0.79px solid #4D5B9E;
    border-radius: 8px;
    height: 30px;
    width: auto;
    display: inline;
    font-family: Inter;
    padding: 5px 20px;
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 20px;
    cursor: pointer;

}
.que{
    margin-bottom: 17px;
    border-bottom: 0.79px solid #DBDEF0;
    width: 600px;
}
